.code {
    background-color: rgb(73, 70, 70);
    color: white;
}

.output {
    background-color: black;
    color: white;
}
@media (min-width: 320px) and (max-width: 768px) {
textarea {
    width:300px;
}

}